[2016-07-25 17:34] aprct opened #1 "[iOS] Build Failed"
Hey,

I'm getting a "Build Failed" when trying to run this on a simulator after I link the libJailMonkey.a library to the build target in XCode.

It doesn't give me an error message or anything. It just tells me that the build has failed. Any ideas?

[2016-07-25 18:05] aprct commented on #1
Figured it out.
2 issues in JailMonkey.m:

1.  Need to import UIKit because it is a dependency of UIApplication
2. Missing semicolon on line 46 :)

Will submit a PR.

[2016-07-25 18:52] #1 closed

[2016-07-25 19:00] GantMan commented on #1
Released 0.0.5 and verified it works!

[2016-08-01 14:44] GantMan opened #3 "Upgrades?"
I have tested and verified that JailMonkey works on devices, but I'm interested in these advanced detection techniques.   Perhaps I should evaluate adding them?

https://github.com/sat2eesh/ios-jailBroken/blob/master/JBroken.m

[2016-08-02 17:53] KevinHu2014 opened #4 "How do I use JailMonkey.canMockLocation() ?"
How do I use JailMonkey.canMockLocation() ?
Does it support RN 0.30 ?

I got `undefined is not an object (evaluating 'this.props.navigator')`  error

Here's my code
[code]

[2016-08-02 19:05] GantMan commented on #4
**That's odd** - I don't mention a navigator anywhere in this library.  Are you sure you have cleaned your packager and cache?

I just created a brand new 0.30.0 app and implemented the following app, it worked fine:
[code]
![image](https://cloud.githubusercontent.com/assets/997157/17341393/f9ccd08c-58b9-11e6-9b58-925b15058160.png)

[2016-08-03 00:09] KevinHu2014 commented on #4
I found out that base on the same code.
It works fine on iOS but gets errors on Android.
And I not sure how to clean packager and cache.
![2016-08-03 7 56 12](https://cloud.githubusercontent.com/assets/7204070/17349530/482304f8-5951-11e6-90b9-4fbbb9deed9d.png)
![2016-08-03 7 56 25](https://cloud.githubusercontent.com/assets/7204070/17349536/4b844ea4-5951-11e6-9416-d441d9386dff.png)

Did I miss som

[2016-08-03 02:46] GantMan commented on #4
Is the Android code exactly the same?  Can you copy and paste it?

[2016-08-03 03:00] KevinHu2014 commented on #4
@GantMan
Yes ,exactly the same.
Here's my code
[code]

[2016-08-03 11:38] KevinHu2014 commented on #4
@GantMan
Have you tried on Android?

[2016-08-03 13:35] GantMan commented on #4
I know it works perfectly on Android in 0.27.2, I'll check on 0.30.0 now.

[2016-08-03 13:45] GantMan commented on #4
### I found your problem

here it is working on 0.30.0
![image](https://cloud.githubusercontent.com/assets/997157/17367597/373737f4-5956-11e6-83b3-b586116ab797.png)

If you use rnpm to link the library, it doesn't know about the update that happened in 0.29.   rnpm actually is FAILING to link anything after 0.29.0, because it links the Activity in Java and not the Application (introduced in 0.29.0

[2016-08-03 15:03] KevinHu2014 commented on #4
@GantMan
Thanks for the help and this great Library.
I'm able to run on Android now.

[2016-08-03 15:03] #4 closed

[2016-08-17 16:28] aprct commented on #3
What about detecting if the app is running on an SD card in Android? I'm not sure about the implications, but it'd be a cool quickie to add to the list of detection features.

http://stackoverflow.com/questions/5814474/how-can-i-find-out-if-my-app-is-installed-on-sd-card

[2016-08-19 22:25] aprct commented on #3
Ping @GantMan !

Submitted PR: https://github.com/GantMan/jail-monkey/pull/5 :)

Let me know if you think this belongs in Jail Monkey. If not, then I'll go ahead and release it under itself.

👍

[2016-08-19 23:38] GantMan commented on #3
hey @aprct !   First thanks for an awesome PR!

I was trying to wrap my head around if this should be on Jail Monkey or not.  So the theme of jail monkey is "Trust", but if a file being on an SD card violates some kind of trust then YES!  it should be here.  If it's just interesting hardware info, it should probably be pitched over at https://github.com/rebeccahughes/react-native-device-info

Thou

[2016-08-19 23:40] GantMan opened #6 "Android 6.x"
There's some changes and interesting differences with android Marshmallow.

Might integrate this when merged:  https://github.com/facebook/react-native/pull/9390

[2016-08-20 00:57] aprct commented on #3
It was a tossup between this library and that one. :)

I included it here because I'm working with protected health information and protected financial information for my company. We're following OWASP guidelines [which specifically recommend having the app available only on non-rooted/jailbroken devices and not on SD cards](https://www.owasp.org/index.php/Mobile_Top_10_2016-Top_10). Therefore, it

[2016-08-21 17:14] GantMan commented on #3
makes sense!

[2016-09-25 21:58] GantMan opened #7 "Getting a false positive on iOS 10"
need to update and work properly with iOS 10

[2016-10-04 17:36] aprct commented on #7
@GantMan Yo! Any luck with this issue? I've confirmed that two of my coworkers are getting this issue on devices that were previously jailbroken, but aren't anymore.

[2016-10-05 06:03] GantMan commented on #7
I have a fix for detecting Android mock locations on the Marshmellow, and will revisit this one soon.  If you can find the correct obj-c I'll do it.

[2016-11-28 20:54] aprct commented on #7
Getting false positives on Android now too :(

[2016-11-29 14:58] GantMan commented on #7
Ah yes, fortunately my PR to facebook react-native was accepted.  It seems I'll need to nearly rewrite this entire component.

Can you provide your Android versions and any hardware specs that will help?  I'll try to get to this soon.  Super busy time of the year :(

[2016-11-29 15:43] aprct commented on #7
Nexus 6P running Android 6.0.1

Can I help in any way? Let me know what needs to be done!

[2016-11-29 16:11] GantMan commented on #7
any reliable native code that can detect jailbroken on iOS and Android with these versions would be ideal.  Links are perfect.

[2016-11-29 16:30] aprct commented on #7
https://github.com/beast/react-native-isDeviceRooted for both Android and iOS.

[2016-12-06 18:46] aprct commented on #7
Re: Android

I've looked into it some more and it looks like these 2 things are returning true, which causes the freakout:

- `canExecuteCommand("/system/bin/which su")`
- `canExecuteCommand("which su")`

I've refactored a bit and submitted a PR. Should fix false positives for Android devices.

[2016-12-06 18:48] aprct opened #9 "Getting false positives in Android"
Submitted PR: https://github.com/GantMan/jail-monkey/pull/8

[2016-12-09 15:59] aprct commented on #9
Merged https://github.com/GantMan/jail-monkey/pull/8 👍

[2016-12-09 15:59] #9 closed

[2017-06-19 12:35] gustavjf opened #12 "Android False Positives"
I've just installed and linked the library and called `JailMonkey.isJailBroken()` in `componentDidMount()` of my top-level component. I got three false positives on separate physical devices:

- Android 6.0.1 (rooted once, now no longer rooted)
- Android 7.0 (never rooted)
- Android O (never rooted)

Does this library not yet support 6.X and above?

[2017-06-19 13:07] GantMan commented on #12
I'm happy to update the code.  I'm currently unaware of what the prescribed detection methods are for those versions, but if you would be so kind as to link me to any docs/stackoverflows for each version, I'll implement the code.

Additionally this is a difficult thing to test (# of devices and all) so help appreciated there as well.

I'd like this library to remain active.  Let's get those update

[2017-06-19 14:39] gustavjf commented on #12
Thanks for the quick response.

I'm also completely unaware of the current methods, but FWIW, https://github.com/beast/react-native-isDeviceRooted worked for the devices I mentioned above. Still struggling with iOS compilation so I can't comment on that, but Android seems to be working as expected.

This seems to be the relevant file: https://github.com/beast/react-native-isDeviceRooted/blob/maste

[2017-06-19 14:39] gustavjf commented on #12
Happy to test again on these devices if you need some help with that.

[2017-06-19 16:05] GantMan commented on #12
Thanks @gustavjf - I will review `isDeviceRooted` and report back!

[2017-06-19 16:22] gustavjf commented on #12
Awesome, thank you!

[2017-06-20 15:38] gustavjf commented on #12
If there's anything else I can do to help other than test on physical devices, let me know. I'd look into preparing a PR but my Java chops are non-existent.

[2017-06-20 18:46] GantMan commented on #12
@gustavjf - can you test this branch please?

https://github.com/GantMan/jail-monkey/tree/fix_android

[2017-06-21 10:07] gustavjf commented on #12
Just tested this after adding a missing import for `BufferedReader` class and all three non-rooted devices I listed above return `false` as expected. Emulators also return `true` as expected.

As is, it won't compile because of that missing import though.

Thank you for digging into this!

[2017-06-21 13:34] #12 closed

[2017-06-21 13:40] GantMan commented on #12
Sorry for the wait, it's been a busy week.
New version published to npm `0.0.8`

[2017-06-21 13:41] #7 closed

[2017-06-21 13:41] #6 closed

[2017-06-21 13:41] #3 closed

[2017-08-11 18:40] jasonblais opened #14 "Add an open source license?"
Thanks for sharing this project! We'd love to use it as part of the Mattermost open source project (https://www.mattermost.org/) in our [React Native mobile app](https://github.com/mattermost/mattermost-mobile) (which users an [Apache 2.0 license](https://github.com/mattermost/mattermost-mobile/blob/master/LICENSE.txt)).

Would you consider adding either an MIT or an Apache 2.0 license?

To do so,

[2017-08-11 19:09] #14 closed

[2017-08-21 09:56] florismettey opened #16 "Update to React-native 0.47.0 for Android"
React-native v0.47.0 had a breaking change for Android and we can't use jail-monkey with React v0.47.0. In order to fix it, we need to remove `createJSModules` from `JailMonkeyPackage.java`
I saw you merged it for an other project here https://github.com/rebeccahughes/react-native-device-info/pull/191/files.
I would like to do a pull request to fix it but I don't have the rights

[2017-08-21 18:56] GantMan commented on #16
you can do a PR!  Or if you'd like I'll do it.  But you shouldn't have any issues doing a PR.

[2017-08-21 19:18] dacarley commented on #16
I've submitted a PR for this change.  https://github.com/GantMan/jail-monkey/pull/17

[2017-08-21 21:53] GantMan commented on #16
closed via #17

[2017-08-21 21:53] #16 closed

[2017-09-05 13:30] gustavjf opened #18 "Android false positive caused by checking for presence of `test-keys` build tag"
I've come across another false positive related to the root detection method that checks for the presence of `'test-keys'` [here](https://github.com/GantMan/jail-monkey/blob/898b83cedd23810577c4f7dad842a65e98295ec2/android/src/main/java/com/gantix/JailMonkey/JailMonkeyModule.java#L94).

I've tested this on a fresh out-of-the-box Vernee Thor running Android 7.0 by logging the boolean results of eac

[2017-09-07 09:41] GantMan commented on #18
Hrmmmmmm....   I don't think false positives should be allowed.  It's far more destructive.  Maybe at some point, we can do a "possible root" but for now, it should not fail like that.  Would you like to PR the removal of the offending check?

[2017-09-07 12:43] gustavjf commented on #18
I'd be happy to!

[2017-09-11 03:40] GantMan commented on #18
merged your code and bumped to version 0.1.0 - Thanks!

@gustavjf - interested in becoming a core contributor?   I don't want to hold you back when your project calls for updates.

[2017-09-11 08:33] gustavjf commented on #18
Much appreciated, thank you!

One thing I felt I should point out: I'm not sure how you're doing your versioning, but wouldn't this change be considered a breaking one according to semver? If anyone relying on the test keys check upgrades to the new minor version 0.1.0, it might be an unexpected surprise for them.

Thank you for the core contributor offer, but at the moment I don't find it necessa

[2017-09-11 08:33] #18 closed

[2017-10-23 07:10] emretekince opened #20 "Not accurate"
Hi,
My users say that their device are not rooted but they still got blocked on app because jail-monkey see them as rooted. Is there a bug?

[2017-10-29 02:33] GantMan commented on #20
Eeek, can you report version/platform so I can check it?

[2018-03-30 03:36] die20 commented on #20
Is this really a problem with this plugin? I’m considering using it but I don’t want it to throw false alarms.

[2018-03-30 03:38] GantMan commented on #20
I no-longer have a rooted iphone to test with right now.   I will see about getting one, but that's the hardest part to testing this.

PRs welcome, and I can help anyone needing help with the code.

[2018-03-30 03:43] die20 commented on #20
Cool! Thanks!

Even if the rooted method is flawed (which it might not be), using react-native-device-info for checking if the device is running as an emulator would solve that.

How confident are you that the jail broken test is reliable?

[2018-03-30 04:34] GantMan commented on #20
I've asked a friend of mine to mail me a jail broken phone.  Any testing you have would be awesome, but this was well tested when I first did the library... no clue on recent.

New testing would be good.

[2018-04-03 06:55] fjtrujy opened #24 "Jump to version 0.2.1"
Hello,
After the PR that you merged yesterday #23 , could you kindly jump to a new version and publish it into NPM environment?

Thanks

[2018-04-03 06:57] Nachox07 commented on #24
Also waiting for this.

[2018-04-03 19:02] GantMan commented on #24
Actually I want to leave the semversion subset madness.  I jumped to version 1.0.0

It's time!

Let me know how 1.0.0 works out!

[2018-04-03 19:02] #24 closed

[2018-04-04 06:52] fjtrujy commented on #24
Thanks @GantMan for you quick response, but I think that you have forgotten to update the version inside the `package.json`. This one still shows the `0.2.0`

Thanks in advance.

[2018-04-04 13:46] GantMan commented on #24
The tool I use seems to have skipped that step.  Updated manually.

Please let me know how well it works!  Still working on getting that phone from a friend to test again.

[2018-05-04 08:44] hweister opened #25 "app crashed on onePlus A3010"
Fatal Exception: com.facebook.react.common.JavascriptException: Java exception in 'NativeModules'

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference, stack:
com.gantix.JailMonkey.JailMonkeyModule.isMockLocationOn@127
com.gantix.JailMonkey.JailMonkeyModule.getConstants@36
com.facebook.react.bridge.JavaModu

[2018-05-04 08:52] hweister commented on #25
change line 127 to "0".equals(nullableVariable)?

[2018-08-15 07:36] rayj10 opened #27 "Behaviour on Android emulator"
Hi, I just found ur lib, great use case scenario btw!
Just a quick check since I think it's better to ask the maker than trying to find jailbroken/rooted phones lol
I got this when running on Android emulator:
[code]

Is this actual false alarm from the lib or is it expected to behave that way since emulator is considered a rooted device?
Also, does canMockLocation() module refer to the potential

[2018-08-15 08:12] rayj10 commented on #27
UPDATE:
on IOS sim its returning isJailBroken() === true and canMockLocation() === true

Please let me know if this is a bug thanks 😄

[2018-08-20 15:45] GantMan commented on #27
eeek.  I'll have to review.  I'm pretty full-up right now, but PRs welcome.  I haven't had time lately to jailbreak a phone for testing.  It's changed over the past year.

[2018-10-03 14:41] lucasfonmiranda opened #28 "Execution failed for task ':jail-monkey:verifyReleaseResources'."
Hi,
I have this problem when i try to create one apk release with the jaik-monkey library.
After using:
[code]
This exceptions appear:

[code]
package.json
[code]

[2018-10-17 18:09] jerodgers1 commented on #20
Any update on the testing?

[2018-10-18 22:15] dkaushik95 opened #30 "Need new file checks (iOS)"
Hey. I found an article which checks for more file paths for iOS.

[Jailbreak Detection Methods](https://www.trustwave.com/Resources/SpiderLabs-Blog/Jailbreak-Detection-Methods/)

Should I make a PR to add this?

Thanks.

[2018-10-23 05:54] GantMan commented on #30
yes, PR away.  I have no way to test right now though.   So I can merge but not know for sure.

Do you have devices to test?

[2018-10-23 05:57] GantMan commented on #20
No.  I decided to put a large warning on the the README because I can't test.

[2018-10-30 10:04] TheKuyPeD opened #31 "Xcode build error"
I already linked the library. When I build in xcode got this error

[2018-10-31 00:05] dkaushik95 commented on #30
No, I have emulators and devices to work with, but none of them are jailbroken. A part of my security testing team told me that the jailbreak can by bypassed using Xcon. And I was trying to find a way around that. Apparently Nintendo has a solution which we don't know yet.

[2018-11-03 17:09] nandofer126 commented on #28
Hello, I use a Ubuntu 18 LTS, running this comand worked for me: **sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386 lib32z1 libbz2-1.0:i386**
I needed some libraries, after that, its compile correctly.

[2018-12-03 17:53] TareqElMasri commented on #28
@nandofer126 So, how can I do that in MacOS?

[2018-12-03 17:55] lucasmirandadev commented on #28
It's the same problem here, i use MacOS for developer and need to know how can i do that?

[2018-12-19 04:13] bharadwajsampath commented on #28
@GantMan The error is because of

Will try if I can fix something quickly and raise a PR for it

[2018-12-19 16:19] GantMan commented on #28
awesome!  Looking forward to it

[2019-01-07 05:12] MoDevby commented on #28
I don't think it's related to the RN version, it's more on the Android side.
for me this was solved by updating the compileSdkVersion and buildToolsVersion.
I will send a PR, but i am not sure if this is a working solution for everyone.

[2019-01-07 17:32] #28 closed

[2019-01-08 05:31] MoDevby opened #34 "Repo is out of sync with npm"
Can you please increase the version and publish this to npm, as the current package i am getting is 9 month old.

[2019-01-08 05:48] GantMan commented on #34
version 2.0 published!  👍

[2019-01-08 05:48] #34 closed

[2019-02-18 09:30] unmec opened #35 "iOS mock location detection not accurate"
After reading the part in source for iOS I realized the mock location detection is equal to jailbreak detection:
[code]

However it's possible for an user to mock location while stays jailed, I found a discussion [here](https://stackoverflow.com/questions/29232427/ios-detect-mock-locations) about possible detection mechanisms for those who are interested.

[2019-02-26 20:39] #25 closed

[2019-02-27 13:39] ravimini commented on #28
updating the compileSdkVersion and buildToolsVersion. not working.

[2019-03-22 10:19] Don-oneself opened #41 "isJailBroken() -- A problem with ios?"
jail-monkey v:2.1.1
ios :12.1.4  testfight
method:
JailMonkey.isJailBroken() = true
is this right ?

[2019-04-17 10:19] pt7892 commented on #28
Adding this to my root build.gradle fixed it for me
`subprojects { subproject ->
    afterEvaluate{
        if((subproject.plugins.hasPlugin('android') || subproject.plugins.hasPlugin('android-library'))) {
            android {
                compileSdkVersion rootProject.ext.compileSdkVersion
                buildToolsVersion rootProject.ext.buildToolsVersion
            }
        }
    }
}`

[2019-05-14 20:53] max-zu opened #44 "Android mock location detection"
I've tested on 2 devices. Samsung Galaxy S9(Android 9), Xiaomi MI-4c (Android 6), `canMockLocation` always returns `false`
[code]

[2019-05-15 09:56] max-zu commented on #44
[ALLOW_MOCK_LOCATION](https://developer.android.com/reference/android/provider/Settings.Secure.html#ALLOW_MOCK_LOCATION) is deprecated

[2019-05-23 06:27] bsjaffer opened #45 "oppo phones are marked as rooted"
![deviceinfo](https://user-images.githubusercontent.com/1895191/58230421-e5a30580-7d51-11e9-8e34-ea420bccc375.jpeg)
![jailbreak](https://user-images.githubusercontent.com/1895191/58230422-e5a30580-7d51-11e9-8109-bf3145c94c04.jpeg)

We are having some OPPO brand phones which is marked as rooted. Is there any way we can avoid this ?

[2019-07-09 00:53] Pupunk87 commented on #45
I also get false detection on oppo, hence the phone was not rooted. Please any solve for this type of phone

[2019-07-15 18:41] argenisleon opened #47 "Any way to know if the Android developer options are on?"
Hi,

Is there any way to know if the developer options are turned on on android?

[2019-07-31 12:05] GabrielePrestifilippo opened #50 "Create and publish a release"
I noticed the last release was made a while ago (05/04). And since then, many fixes were merged, in particular, #46 and #49 which solve some building problems for Android.

Would it be possible to create and publish a new release? Is there a procedure or a schedule this project follows?

[2019-07-31 15:09] GantMan commented on #50
Yup.  Just wondering.  Would you be interested in being a contributor?  That way you could merge/release?

[2019-08-12 15:51] oakcreations opened #51 "Update npm install"

[2019-08-12 15:52] oakcreations opened #52 "Sync project with npm"
Please
sync project with npm

[2019-08-12 16:02] GantMan commented on #52
2.3.0 published.

[2019-08-12 16:02] #52 closed

[2019-08-12 16:03] #51 closed

[2019-08-12 16:03] #50 closed

[2019-08-26 11:57] arnabsutar opened #53 "Not working in iOS simulator"
Hi,

I am using react-native 0.59. I have installed as per the documentation. But when i tried to run this i am getting the following error : Cannot read property 'canMockLocation' of undefined.

Where as when I print JailMonkey i got following.:
{isJailBroken: ƒ, hookDetected: ƒ, canMockLocation: ƒ, trustFall: ƒ, isOnExternalStorage: ƒ, …}
AdbEnabled: ƒ AdbEnabled()
canMockLocation: ƒ canMockLoca

[2019-08-27 05:05] arnabsutar commented on #53
had to update the pod file with the following:
 **pod 'jail-monkey', :path => '../node_modules/jail-monkey'**

[2019-08-27 05:05] #53 closed

[2019-09-17 10:48] PavanKumar-sa commented on #41
React Native 0.60.3 JailMonkey.isJailBroken() returns null and not working.

[2019-09-30 13:24] manojkyyba opened #55 "Jail Monkey"
React Native 0.60.3 JailMonkey.isJailBroken() returns null and not working.

[2019-10-10 06:59] PavanKumar-sa commented on #55
facing same issue , after upgrading to React Native 0.60.3 JailMonkey.isJailBroken() returns null and not working.

[2019-10-11 16:19] GantMan commented on #55
I won't have time to fix, would either of you be willing to do the research and PR the results?

[2019-10-17 02:39] fedri commented on #45
hi.. I have problem also with oppo f1, color os v2.1.0, and android version 5.1.1

problem:
this library detect as rooted/jailbreak device

we use this lib to detect rooted/jailbreak or not. our app cannot move to next page after .isJailBroken() function called.

if you have time please fix this for us. thanks.

[2019-10-17 09:48] vineeth-accolite opened #56 "Cannot read property 'isJailBroken' of undefined"
Am running Ios app getting this error only happening in ios

 Cannot read property 'isJailBroken' of undefined

android works fine

[2019-12-03 06:26] Arslan106 commented on #56
All you need is to manually link the library in XCODE

[2019-12-13 09:32] kasperwandahl opened #58 "False alarm on brand new Samsung Galaxy Note10+"
Hi

We have gotten a bug report from one of our customers. He has just bought a brand new phone straight from the electronics store (he peeled plastic of himself). When he installed our app that uses this package, he got the error that his phone is rooted, even though it's not.

I have these images of software versions on the phone (sorry about the glare):
![image](https://user-images.githubuserco

[2019-12-13 15:02] GantMan commented on #58
hiya!   I nolonger have the devices to test this package.  I'd be happy to merge any pull request that identifies the bug, but as far as tracking down bugs, I'm unable.

I leave the package available on GitHub as a resource and to merge pull-requests that come in.

This project needs a maintainer.

[2019-12-18 08:33] kasperwandahl commented on #58
Hey @GantMan .. Thanks for getting back to me. This is a customers device, so I would have to get one in order to test :) I'll just close this issue for now.

[2019-12-18 08:33] #58 closed

[2019-12-20 17:11] castalonirenz commented on #45
Hi is this already fixed?

[2020-01-22 01:13] luislessey opened #60 "In a client was used jailmonkey but was bypassed with Reverse Engineering"
Please contact me for more details

[2020-02-05 10:33] AlkanV opened #61 "Cannot read property 'isJailBroken' of undefined"
It gives this error on android.
iOS works fine.

[2020-02-18 05:15] imdadhussain004 commented on #60
@luislessey got into same issue. Have you found any solution?

[2020-02-19 13:01] SaruwatariSagittario commented on #56
Hi, could you elaborate ?

[2020-02-19 13:36] tangten commented on #56
@SaruwatariSagittario did you try to run `react-native link jail-mokey`?

[2020-02-19 13:48] SaruwatariSagittario commented on #56
you mean `react-native link jail-monkey` ?

yeah i did..

using RN 0.61

[2020-02-19 14:21] tangten commented on #56
then you can see new line in your `Podfile`:
[code]
you need to run `pod install` as well

[2020-02-19 14:41] SaruwatariSagittario commented on #56
Woah thanks a lot for the step by steps guide, pardon me for being slow

[2020-02-19 14:46] tangten commented on #56
For Android, you need to go to `MainApplication.java` to add new package also. Like this:
[code]

[2020-02-24 13:59] SaruwatariSagittario commented on #56
sflr,
Yeah for android already done the above

Thanks a lot @tangten, you are a lifesaver. 🥇

[2020-02-25 12:32] murari85b7 commented on #61
You should  try f below steps
1. react-native link JailMonkey
2. check on MainApplication.java class having below the line or not
    protected List<ReactPackage> getPackages() {
return Arrays.<ReactPackage>asList(
              new MainReactPackage(),
              **new JailMonkeyPackage()**
      );
}
and import com.gantix.JailMonkey.JailMonkeyPackage;
if above lines not available then add it .

[2020-02-25 12:40] murari85b7 commented on #31
Select the project target then go to the build phases->Link binary with libraries
inside Link binary with libraries check it may be added twice **'libJailMonkey.a'**. Remove it one of them. It will work.

[2020-02-26 18:43] joaoedezio commented on #45
Updates?

[2020-02-26 19:14] GantMan commented on #45
I'm afraid I don't have the time to fix this currently.  I'll accept a PR that fixes it and distribute the update if someone does.

[2020-02-27 11:00] strawberry-code commented on #61
Same issue for me:

In **package.json**:
[code]
import com.gantix.JailMonkey.JailMonkeyPackage;

new ReactNativeHost(this) {
                @Override
                public boolean getUseDeveloperSupport() {
                    return BuildConfig.DEBUG;
                }

                @Override
                protected List<ReactPackage> getPackages() {
                    @SuppressWarnings("

[2020-02-27 11:10] strawberry-code commented on #61
I read more deeply my error log and found wrong min SDK Version, so I changed it from the older one to 19 in **build.gradle**:

[code]

 Now it compiles successfully, but now I get:

[code]

[2020-02-28 11:40] AlkanV commented on #61
I have fixed this issue by re linking and doing all manual linking process again. and it is fixed.

[2020-02-28 11:40] #61 closed

[2020-03-20 03:59] Chaviya98 opened #62 "JailMonkey.isDebugged is resulting true in android release APK (Real Device)"
Tested real devices

- One puls 7 pro
- Huawei nova 2i

[2020-04-07 02:58] luechenchris commented on #56
Manual linking doesn't work for either platform on RN 0.61.5 (RN complains about module already being imported) - Am I missing something?

[2020-04-07 03:42] tangnguyenv commented on #56
https://github.com/GantMan/jail-monkey/issues/56#issuecomment-588269844
@luechenchris  follow this one

[2020-04-07 04:11] luechenchris commented on #56
@tangnguyenv Thanks for the reply, however, I have tried all of the above but I still get the error attached below >> Does this library support the non interactive auto-linking in RN >= 0.60 ?
![image](https://user-images.githubusercontent.com/6932110/78629158-d5a5ee80-785b-11ea-8aaa-dbab65e2fd43.png)

[2020-04-09 21:43] luechenchris commented on #56
Ok this works for me now with auto-linking (without using react-native link) on both platforms. Seems as if I can't use the method calls with a then callback. I had to use async -> await instead.

[2020-04-19 10:04] Aiswarya opened #63 "Frida not listed part of running processes."
Frida is not listed as running process. But it is listed when we check frida-ps -U.

[2020-04-22 12:34] Knjaz89 opened #64 "isDebuggedMode is not a function."
isDebuggedMode is not a function.
v 2.3.2

[2020-04-22 17:47] #44 closed

[2020-04-24 11:31] shridhar48 opened #66 "Android build fails"
Integrated jail-monkey for react native application but getting following error while running the app

`Execution failed for task ':app:processDebugManifest'.

        Suggestion: use a compatible library with a minSdk of at most 16,
                or increase this project's minSdk version to at least 19,
                or use tools:overrideLibrary="com.gantix.JailMonkey" to force usage (may lea

[2020-04-27 11:26] hieetesh commented on #55
Any updates on this?

[2020-05-07 06:50] jahead commented on #66
Not sure, but it seems your app has a lower minSdkVersion = 16 then what the library supports, try changing it to 19

[2020-05-12 10:09] hpelitebook745G2 commented on #60
any updates if there's any fix?

[2020-05-15 07:40] sattaman commented on #66
The is reducing device support, and I don't think was needed, react-native is still on minSdkVersion 16, and I've reverted locally and it all seems to work fine. @zuccha @GantMan

[2020-05-15 08:31] sattaman commented on #66
In the meantime for those wanting to maintain support for sdk 16, you can override this library:

![image](https://user-images.githubusercontent.com/1196383/82029423-e46b9680-968e-11ea-9bc6-8c0ce00cf1e0.png)

[2020-05-28 13:03] paulomp90 commented on #55
There is anything new in this topic?

[2020-05-28 13:33] paulomp90 commented on #56
Me too.

[2020-05-28 13:43] GantMan commented on #55
I'd love to have someone do a PR

I can even make someone admin of this repo.

[2020-06-23 01:34] XELoh commented on #64
same, I only can use **isJailBroken()** other showing is not a function

[2020-07-17 11:35] shubham-ntz opened #69 "Jailbroken device can be bypassed using cydia tweaks."
This module is being bypassed using the cydia tweaks. Is there is any method to prevent this method.

[2020-08-02 07:00] Schabaani commented on #64
Same issue (**isDebugged is not a function**). I use:

[code]

[2020-08-26 22:30] hdsenevi commented on #69
What is the exact tweak you have issue with? Can you be more specific please.

I found that using "Liberty Lite", one can bypass/hide jailbroken status
https://yalujailbreak.net/liberty-lite/

[2020-10-05 13:34] lucasrocha7111 commented on #64
Same here.

[2020-10-08 10:08] nilava commented on #69
https://github.com/avltree9798/isJailbroken

take a loot at this, its immune to liberty lite at the moment

[2020-10-14 11:12] vijaybaskar2908 opened #71 "Android issue"
I am running my jailmonkey, jailbroken check.  It always returns true. But works fine in ios...issue only on android. kindly suggest me some fix.
const jail =JailMonkey.isJailBroken();

jail == true /// always..

[2020-10-22 21:57] #64 closed

[2020-10-26 14:39] unicornRainbows commented on #58
I have the same issue for:

Samsung Galaxy S8
and
Samsung A7

and I have checked by installing the play store apps which check if the device is rooted and it is not.

Could someone point me in the right direction, I am happy to create a PR but don't know where to start.

👍

[2020-10-26 14:48] unicornRainbows opened #73 "False alarm on Samsung S8 and A7"
I get a false alarm that the device has been rooted when it has not been rooted..

I feel like this might be a Samsung related issue since the is another issue related to this that has not been solved.
https://github.com/GantMan/jail-monkey/issues/58

Any help would be appreciated, I will give you an electronic 🍫 .. (Which you can copy paste to make as many as you would like.. hehe)

❤️

[2020-10-26 15:19] unicornRainbows commented on #73
It works as expected on a Samsung Galaxy A50..

[2020-10-28 14:02] unicornRainbows commented on #73
I think I found the solution to my problem..

I was using JailMonkey.trustFall() which checks for a rooted device as well as if location is being mocked.. Testing now just with JailMonkey.isJailBroken()

Will let you know. BTW Android devices without being rooted allow other apps to simulate the location of the device which can cause the JailMonkey checks to fail.. Why android why???

[2020-11-18 14:07] morelgarisi commented on #73
any updates on this?

[2020-11-18 15:53] unicornRainbows commented on #73
This was due to Android having an app that allowed for location spoofing. The issue was on my side.. also maybe a note, make sure testers are not spooofing location and that you use the correct checks. We now only check for root detection.

Sent from my iPhone

[2020-11-22 11:44] morelgarisi commented on #73
i only check root  with JailMonkey.isJailBroken() , and there are still devices that i get true although they are not rooted (checked them with root checker - android) is there still an issue with not rooted android but simulate the location of the device? is this the cause for get JailMonkey.isJailBroken() true?

[2020-11-29 01:28] sahil290791 opened #76 "com.facebook.react.common.JavascriptException: Error: Exception in HostObject::get(propName:JailMonkey): java.lang.NullPointerException, stack:"
jail-monkey version: 2.3.2
RN: 0.61.5

Setup:
**android/app/build.gradle:**

[code]

**settings.build.gradle**
[code]

I am getting this error in some of the android devices (Samsung note 20 Ultra):

[code]

Can you please help on what might be wrong here?

[2020-12-12 05:20] pavel-corsaghin commented on #64
I faced the same issue. Resolved by using __DEV__ flag from react-native

[2021-01-04 10:21] bohdansushchak commented on #76
I hava the sami issue, on
"jail-monkey": "^2.3.3",
"react-native": "0.61.5",

Samsung Galaxy Note9, Android 10
Samsung Galaxy S9+, Android 10

[2021-01-05 01:11] hwq0521 commented on #76
I have the same issue
"jail-monkey": "^2.3.2",
"react-native": "0.61.5",

Galaxy Note10+, Android 10
Galaxy Note9, Android 10
Galaxy S20+, Android 11

[2021-01-13 16:25] dmoebius opened #78 "Typescript/Flow function definition missing for hookDetected"
The new function ` hookDetected` is missing in the type definitions `jailmonkey.d.ts` and `jailmonkey.js.flow`. Please add.

[2021-01-13 16:33] GantMan commented on #78
Please contribute and it will be merged.  I'll ping some people who might add it as well.

[2021-01-15 05:06] levibuzolic commented on #71
Is this in on a specific device, multiple devices or just in the emulator?

[2021-01-15 05:08] levibuzolic commented on #47
[code]

[2021-01-15 05:08] #47 closed

[2021-01-15 05:15] levibuzolic commented on #73
@morelgarisi shouldn't be, no - `trustFall` checks both `isJailBroken` and `canMockLocation`.

There does seem to be some false positives with `isJailBroken` though. Any information you can provide on specific devices/cases would be helpful.

[2021-01-15 20:35] #78 closed

[2021-01-19 11:25] dmoebius commented on #78
Many thanks, @GantMan ! :)

[2021-02-05 03:24] vinegarpusit opened #81 "Cannot read property 'isJailBroken' of null in Android"
JailMonkey works fine in IOS but when I run it with an android emulator I always get this error.

Also when I use other API such as `isDebuggedMode()`, `trustFall()`, etc... I always get the same error:

`Cannot read property 'isDebuggedMode' of null` etc.

![Screen Shot 2021-02-05 at 11 18 23 AM](https://user-images.githubusercontent.com/39085037/106985597-bb52df00-67a4-11eb-8b04-6e5ce5180ca0.png

[2021-02-05 08:06] levibuzolic commented on #81
@vinegarpusit have you correctly linked the native modules and rebuilt your Android app? This would usually point to the native library not being present.

[2021-02-08 05:47] vinegarpusit commented on #81
Thanks for bringing that up. I solved it by linking the package to android. `npx react-native link jail-monkey --platforms android`

This is kinda weird because on my other project this doesn't show up even If I didn't link the package to android.

[2021-02-08 05:49] #81 closed

[2021-02-09 01:33] nzankich commented on #76
Getting this issue as well.  It seems to be exclusive to Samsung devices.

It comes in as
`Exception in HostObject::get(propName:JailMonkey): java.lang.NullPointerException: Attempt to get length of null array`
sometimes as well

[2021-02-09 17:09] nzankich commented on #76
my team only uses the mocked location and rooted check so it must be from one of those.  If I had to guess it's coming from the mocked location check here:

[code]

Android docs say that it can't come back as null
https://developer.android.com/reference/android/content/pm/PackageManager#getInstalledApplications(int)

BUT I do see some cases online where people say it's coming back as null if permi

[2021-02-24 06:39] hanifmhd opened #82 "Bypass Jailbreak using Liberty Lite"
Hi,

I want to ask, can this lib be bypassed using Liberty Lite?
I want to make sure that `jail-monkey` prevents bypass from any tools, including Liberty Lite.

Thank you.

[2021-02-25 08:53] hannigand commented on #82
I tested out Liberty Lite based on [this](https://github.com/GantMan/jail-monkey/issues/69#issuecomment-681156976) comment and I can confirm that this library can be bypassed.

[2021-02-25 08:57] hanifmhd commented on #82
Thanks for the answer.
Do you have any suggestion how to prevent it? or any lib for jailbreak that can prevent from bypassing?

[2021-03-16 16:03] mountainfirefly commented on #76
@nzankich If at the android side it is coming as `null`, does it mean it is not a rooted device?

[2021-03-16 19:06] nzankich commented on #76
@mountainfirefly if anything it would be the opposite. maybe the rooted device is disrupting/blocking that check?

I don't think there is any correlation though.  I think Samsung devices have a bug/are just doing something against Android specs

[2021-04-05 04:44] anupamhore commented on #82
My Pen Test also failed because the guys were using Liberty Lite. Is there any way to prevent this

[2021-04-05 11:33] devanshsadhotra25 opened #84 "Native module JailMonkey tried to override JailMonkeyModule"
getting this error on android , on iOS everything working fine

[2021-04-06 03:51] jahead opened #85 "Support React Native 0.64"
Hey

React native has dropped support for droid 16 - 20
Do you think we can also drop support for lower versions too, our build is failing because of this.

[code]

https://reactnative.dev/blog/2021/03/12/version-0.64
[code]

[2021-04-12 10:38] harshitDewan opened #86 "Jailmoneky is getting Bypassed using Liberty(iOS) & Magisk hide(Android)"
Jailmoneky is getting Bypassed using Liberty in iOS and Magisk hide in Android. Any possible solution for it ?

[2021-04-12 10:40] harshitDewan commented on #82
@anupamhore did you found any possible solution yet ?

[2021-04-12 11:03] anupamhore commented on #82
Hi,
Yes I have found a solution. Please implement from the below steps.
1. Add these two attached files in the xcode project2. In your AppDelegate.m do the following    import "JB.h"

- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions

{

…

….

 //Jailbreak detection, if it is true, show alert, then exit app

  if (!isSecurityCheckPassed()

[2021-04-14 08:32] harshitDewan commented on #82
@anupamhore
1) import "JB.h" is it referring to jail-monkey plugin for react native ? (I have jail-monkey installed no other plugin as of now).
2) Please help with logic used for "isSecurityCheckPassed", what checks are made in it and how to add it in AppDelegate.m
3) For me Pen Test failed in android by using Magisk hide - Any suggestions for android as well?

[2021-04-14 12:55] anupamhore commented on #82
Share me your personal Id. I will communicate with you
    On Wednesday, 14 April, 2021, 04:32:51 pm GMT+8, harshitDewan ***@***.***> wrote:

@anupamhore

   - import "JB.h" is it referring to jail-monkey plugin for react native ? (I have jail-monkey installed no other plugin as of now).
   - Please help with logic used for "isSecurityCheckPassed", what checks are made in it and how to add it in A

[2021-04-14 17:42] harshitDewan commented on #82
@anupamhore
jaydewan1994@gmail.com

[2021-05-08 00:12] mouhsnimohamed commented on #63
I need to verify if frida process is running, @Aiswarya did you found any solution?

[2021-05-18 00:01] #85 closed

[2021-05-18 03:35] el173 commented on #84
Overlaping with with RN autolink. What is your RN version and can you provide a sample of your ```MainApplication.java``` file

[2021-05-18 04:31] levibuzolic commented on #86
@harshitDewan would you be able to test with https://github.com/avltree9798/isJailbroken to see if that can successfully detect when using Liberty -- if that works we could try implementing some of the methods used there.

[2021-05-18 09:03] tradebulls commented on #86
Jailmonkey is getting ByPassed with Cydia and Magisk Hide in Android. @levibuzolic Any help?

[2021-05-27 03:57] tradebulls commented on #86
With the latest update, its not getting bypassed in IOS, however still facing issue in Android via Magisk Hide. Any help?

[2021-05-28 05:18] harshitDewan commented on #86
Solution provided @anupamhore  [here](https://github.com/GantMan/jail-monkey/issues/82)

This worked for me for bow but keeping issue open as looking solution from Jail-Monkey. Sharing solution as follows:

Put JB.m & JB.h in your iOS xcode project. Then in the AppDelegate.m file include the header file from the two files as attached.

[**JB.m & JB.h**](https://github.com/GantMan/jail-monkey/files

[2021-05-28 07:05] levibuzolic commented on #86
We'd need somebody to find a way to detect this particular exploit. There may be some prior art in https://github.com/darvincisec/DetectMagiskHide if anybody wanted to test and verify it can accurate detect it.

[2021-06-03 07:29] Anujmoglix commented on #45
is that issue resolved ?

[2021-06-09 18:26] quantumarun commented on #58
Got Reported it on "Samsung Galaxy Note 20 Ultra 5G". Any clue or suggestion how to get around it. I might be happy to look around and contribute if you can guide around. As for device even i don't have that.

[2021-06-09 18:27] quantumarun commented on #73
Got Reported it on "Samsung Galaxy Note 20 Ultra 5G". Any clue or suggestion how to get around it. I might be happy to look around and contribute if you can guide around. As for device even i don't have that.
Using isJailBroken only.

[2021-06-23 10:16] vaishnavtn commented on #41
Same issue here.
React Native 0.61.5 JailMonkey.isJailBroken() returns null and not working.

[2021-06-24 00:45] levibuzolic commented on #41
This doesn't sound correct, please run the [example app](https://github.com/GantMan/jail-monkey/tree/master/ExampleProject) and post what results you get. Also, it's important to know what version of JailMonkey you're running.

`isJailBroken` returning `null` is likely a sign that the native code may not have been installed/linked correctly.

![Simulator Screen Shot - iPhone 8 - 2021-06-24 at 10 3

[2021-06-24 03:02] vaishnavtn commented on #41
React-Native - 0.61.5
jail-monkey@2.3.0

Getting error in `JailMonkey.m` on `line no 265` as `Property 'isiOSOnMac' not found on object of type 'NSProcessInfo'`

if (@available(iOS 14.0, *)) {
        isiOSAppOnMac = [NSProcessInfo processInfo].isiOSAppOnMac; `// line no 265 `
}

[2021-06-24 03:25] levibuzolic commented on #41
@vaishnavtn would you be able to try with the updated native code at https://github.com/GantMan/jail-monkey/pull/98 and see if that resolves the issue?

[2021-06-24 06:12] vaishnavtn commented on #41
Yes, it's working now with that change. But it's returning `false` if I run app on simulator.

[2021-06-24 06:28] levibuzolic commented on #41
@vaishnavtn `false` is expected on the simulator.

I can merge and release this later today.

[2021-06-24 07:58] levibuzolic commented on #41
@vaishnavtn I've made a new release, let me know how it goes.

[2021-06-24 08:37] vaishnavtn commented on #41
It's working. Thanks!

[2021-06-24 08:37] #41 closed

[2021-07-12 08:27] akshgods commented on #58
Got same issue on note 10+ , other are working perfectly.
device is not rooted , new one customer got this issue

[2021-07-25 07:45] Peelz opened #100 "Lint error"
After use
[code]

Error display
[code]

[2021-07-25 23:39] #100 closed

[2021-07-25 23:40] levibuzolic commented on #100
Thanks @Peelz, it should be fixed in `master`, I'll package it into the next release soon.

[2021-08-03 14:32] Peelz commented on #86
I was test this project, and it's not detect magisk hide mode also.

[2021-08-23 14:03] naum43312016 opened #104 "False alarm on samsung s10 and iphone 6s"
Hello,
I get a false alarm that the device has been rooted when it has not been rooted or jail-broken, using isJailBroken only.
Any help would be appreciated,
Thanks.

[2021-08-23 21:18] levibuzolic commented on #104
Sounds related to #102 we’re still working on a fix.

[2021-08-31 13:42] PABourdais opened #105 "It seems it is possible to bypass the detection"
I just found this [article](https://www.ayrx.me/gantix-jailmonkey-root-detection-bypass/) explaining how to bypass the detection

Is it possible to avoid this kind of trick ? ( I have not tried the trick )

[2021-09-01 00:31] levibuzolic commented on #105
It's possible to naively change the implementation to prevent this bypass, however it'll be a constant game of cat-and-mouse where it'll only buy a short window of time before a new bypass is created. With a more complex solution you can probably buy a larger window of time, but again, only a matter of time before a new bypass is found.

Jailbroken/rooted devices have low-level access to the OS, i

[2021-09-15 12:59] mayran-aragao opened #106 "TypeError: null is not an object (evaluating 'JailMonkey.isDevelopmentSettingsMode')] on ANDROID"
[Unhandled promise rejection: TypeError: null is not an object (evaluating 'JailMonkey.isDevelopmentSettingsMode')]
at node_modules/jail-monkey/jailmonkey.js:16:8 in isDevelopmentSettingsMode
at src/screens/Home/HomeScreen.js:66:26 in <anonymous>
at src/screens/Home/HomeScreen.js:65:9 in <anonymous>
at src/screens/Home/HomeScreen.js:65:8 in useEffect$argument_0
at node_modules/@react-navigation/co

[2021-09-17 16:51] mayran-aragao commented on #106
"Solved"
the problem was my react native version. I tried the 0.64.1 version and it works fine.

[2021-09-17 21:42] #106 closed

[2021-10-06 12:29] gabrielmoncea commented on #69
@nilava is your library forked from jail-monkey? Would be helpful if there is one library with all security issues solved

[2021-10-08 07:06] andrei102896 opened #108 "Can't call the functions inside package"
error occurs:  TypeError: Cannot read properties of undefined (reading 'isJailBroken')
    at Object.isJailBroken (jailmonkey.js:7)
    at _callee$ (Home.js:42)
    at tryCatch (runtime.js:63)
    at Generator.invoke [as _invoke] (runtime.js:294)
    at Generator.next (runtime.js:119)
    at tryCatch (runtime.js:63)
    at invoke (runtime.js:155)
    at runtime.js:190
    at tryCallTwo (core.js:45

[2021-10-08 07:28] #31 closed

[2021-10-08 07:32] levibuzolic commented on #86
Thanks for testing it @Peelz -- we'll need somebody to find a way to detect it and contribute a PR. However it'll only be a matter of time before it's bypassed again.

[2021-10-08 11:39] HaoTranPZH opened #109 "App seeks Root/Super user privileges"
After i used jail-mokey to check rooted device and Security Tool detected issues:

We have detected 'com.noshufou.android.su' in the file com/scottyab/rootbeer/Const.java.
line : 9     public static final String[] knownDangerousAppsPackages = {"com.koushikdutta.rommanager", "com.koushikdutta.rommanager.license", "com.dimonvideo.luckypatcher", "com.chelpus.lackypatch", "com.ramdroid.appquarantine",

[2021-10-08 13:36] levibuzolic commented on #109
This appears to be a bug with the security tool, it's doing a naive check for known package names which are used on rooted devices for super user privleges.

JailMonkey does not use this package, but it references the package name as it uses this for detection of a rooted device.

[2021-10-08 13:36] #109 closed

[2021-10-08 18:39] Sideral-Inc opened #110 "canMockLocation return fase on iOS simaulator iPhone12"
Hi,

Not sure if i need to do something specific but when using the latest version (2.6.0) of this plugin, canMockLocation returns false when testing with the iOS simulator.

I even select "Apple" from the Location features of the Simulator.

[2021-10-26 19:36] lrlineroa opened #111 "null is not an object (evaluating 'JailMonkey.isJailBroken')"
I got this error when trying to use this function.

![Simulator Screen Shot - iPhone 12 - 2021-10-26 at 14 28 38](https://user-images.githubusercontent.com/2311838/138948052-1948882a-9c7f-4381-bb68-9b1e7dc4cced.png)

I already have read similar issues, and almost all conclude in that there is a problem with the rn version, mine is 0.65.1,  the problem is that I mustn't downgrade the rn version.

I

[2021-11-02 16:14] lrlineroa commented on #111
It works, The problem was, I was missing the pod install step.

[2021-11-02 16:14] #111 closed

[2021-12-09 21:52] kcchoate opened #115 "Android canMockLocation Does Not Check If Permission Is Granted"
The `canMockLocation` implementation for Android only checks to see if another app is installed which requests the `android.permission.ACCESS_MOCK_LOCATION` permission. It does not check to see if that permission is granted. I believe this can be accomplished using the `requestedPermissionsFlags` field of the `PackageInfo` object (seen here: https://developer.android.com/reference/android/content/

[2022-02-03 09:34] PABourdais commented on #105
It seems that everything is working pretty well : [reddit](https://www.reddit.com/r/TweakBounty/comments/siyfiz/15_1331_bypass_mobeye_jailbreak_detection/?utm_source=share&utm_medium=web2x&context=3)

Thank for your work

[2022-02-18 18:05] manualiase opened #116 "False Alarm on OnePlus 6 and OnePlus 6T on updating the Android version to 11"
The Jailmonkey method isJailBroken() is returning a false alarm when we install on a OnePlus 6 series phone (Oneplus 6 or OnePlus 6T). This happens when our app is already working in Android 10 and updates the Android OS version to Android 11.

Tried multiple versions of jail-monkey including latest 2.6.0 (Earlier we used 2.3.3). Both are having the same issue

Can we get some support on this to u

[2022-02-22 10:24] t-mdo opened #117 "Disable RootBeer logs in production"
Hello,

We've got a pentest report on our app classifying the RootBeer logs as a low vulnerability, and we'd like to fix it.

The logs:
[code]

It seems RootBeer added a few years back an option to disable the logs: https://github.com/scottyab/rootbeer/pull/32, but jail-monkey doesn't seem to provide a way to enable this option.
Is there something I'm missing? Or would we need to extend jail-monke

[2022-03-04 00:19] hdsenevi commented on #86
Not sure if you all have seen this. There is a company (appdome) thats claiming they can successfully block Magisk hide https://www.appdome.com/how-to/mobile-fraud-prevention/prevent-android-ios-malware/block-magisk-hide/

So it seems, there is a way. We just need to find it

[2022-03-09 19:11] sebastianMagnaldi commented on #116
We are having the exact same issue with the exact same devices.

[2022-03-10 17:12] sebastianMagnaldi commented on #116
Seems to be related with BusyBox check.
Found this to be interesting:
![image](https://user-images.githubusercontent.com/96889640/157717642-712e3a60-b0fd-4b03-b391-584ce824a888.png)
src: https://github.com/scottyab/rootbeer

[2022-03-11 16:41] iricketson commented on #116
@sebastianMagnaldi  https://github.com/GantMan/jail-monkey/pull/102

[2022-03-22 15:38] roxas-tan commented on #86
Check out this project. As far as I know, it's the only open source project that can detect MagiskHide / Zygisk DenyList.
[https://github.com/vvb2060/MagiskDetector](https://github.com/vvb2060/MagiskDetector)

You can download and install the **MagiskDetector_v2.3.apk** in its GitHub releases for testing.

[2022-05-04 13:21] elencho commented on #104
Did you fix it on IOS?

[2022-05-05 07:16] elencho opened #122 "False alarm on iPhone 7"
So, I am using "jail-monkey": "^2.6.0" version, One of the client has reported that he can't access the app because of alarm, even though he can access other apps which also block jailbroken devices, I wonder what is the problem. Is there any chance to solve this without restoring device?

Device iPhone 7
"jail-monkey": "^2.6.0"
"react-native": "^0.63.3",

[2022-05-05 10:56] elencho commented on #122
Client had hidden jailbreak, but some of apps couldn't see it, So I would recommend people who have the same issue to download this app and test it:

https://help.digi.com.my/en/support/solutions/articles/70000604580-mydigi-app-is-not-accessible-via-modified-devices-jailbreak-rooted-usb-debugging

[2022-05-05 10:57] #122 closed

[2022-05-12 09:45] pke commented on #76
Had this problem today too and came here via google. Samsung device. Any idea what could cause it?

[2022-06-13 12:36] jordanjoecooper commented on #73
@quantumarun If you run the sample app here: https://play.google.com/store/apps/details?id=com.scottyab.rootbeer.sample&hl=en_GB&gl=US

What does it flag as the reason for root on the Samsung Galaxy Note 20 Ultra 5g?

[2022-06-13 12:37] jordanjoecooper commented on #58
@unicornRainbows & @akshgods If you run [this app](https://play.google.com/store/apps/details?id=com.scottyab.rootbeer.sample&hl=en_GB&gl=US) does is also say root detected and if so what flags up?

[2022-06-28 13:53] mark-quinn commented on #116
I'm assuming this is still an issue? Was thinking on using this for prod but if it's "false alarming" for a bunch of Android devices this might not work for our use case. Any updates appreciated.

[2022-07-12 10:16] welt13 opened #142 "Jailbreak Hestia not detected on iOS"
Hi, I'm using Jailmonkey to detect Jailbreak in iOS but the tweak Hestia was able to bypass the protection.
Is there any protection against this?

Thanks

[2022-08-15 12:47] #86 closed

[2022-09-23 08:43] adarsha-sk opened #149 "JailMonkey in Android is Depreciated by Magisk"
Hi team,
I am using jail monkey library for android , to avoid usage of App in rooted devices but there is Magisk App, by using that Jailmonkey is unable to detect the rooted device even the device is rooted still App can be opened by using Magisk App so i need an appropriate  solution for this , i.e should not able to  use App in device rooted

[2022-10-19 15:24] moisesgibson14 opened #154 "JailMonkey.canMockLocation() return false in physical device (Android and Ios) and Ios Emulator return True"
Hello, I have the problem that when using the
"jail-monkey" library: "^2.7.0"
on physical devices when using JailMonkey.canMockLocation() it returns false but when I try in the ios emulator it returns true,
I would like to know if there is something additional that I must do since in both physical devices you are adding a false location

const mockLocation = await JailMonkey.canMockLocation();
moc

[2022-10-20 00:53] #154 closed

[2022-11-03 07:06] canerasa93 opened #157 "Android and iOS Devices always return different result -> JailMonkey.isJailBroken()"
Hi,

Android devices always returned **TRUE** on emulator and real device from JailMonkey.isJailBroken() function.

iOS devices always return **FALSE** on emulator and real device from JailMonkey.isJailBroken() function.

Test result screen:
![Screen Shot 2022-11-03 at 10 00 22](https://user-images.githubusercontent.com/55560011/199663816-168aa806-174d-4e6a-a34e-6cddbb110076.png)

How can I solve

[2022-11-17 13:27] RohitPatilAtShell commented on #45
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-18 10:59] RohitPatilAtShell commented on #71
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-18 11:06] RohitPatilAtShell commented on #73
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-18 11:10] RohitPatilAtShell commented on #58
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-22 04:58] RohitPatilAtShell commented on #20
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-22 04:59] RohitPatilAtShell commented on #157
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-22 05:00] RohitPatilAtShell commented on #116
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-22 05:00] RohitPatilAtShell commented on #104
I am also getting this issue in one of my client device:
Brand: Samsung
OS: Lineageos-18
Android: 11

I have already tested that the device is not rooted(attached screenshot).
Its a false alarm!!!

Please help me to get this issue resoled.
Thanks in advance.

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/92922605/202458726-6d8315fa-78a7-41b9-a88c-625e6c009540.png)

[2022-11-22 09:41] SonuGitCfcs commented on #62
Doesn't work in Release APK Mode
JailMonkey.isDebugged().then()

[2022-11-27 15:15] iamjessroman opened #160 "AAPT: error: resource android:attr/lStar not found."
Hi!

When compiling I get the error in module:

`jail-monkey\android\build\intermediates\merged_res\release\values\values.xml:2722: AAPT: error: resource android:attr/lStar not found.
`
In my ¡: android\build.gradle

[code]

[2022-11-27 15:21] iamjessroman commented on #160
I solved the error like this,

I changed the code in the following file:

`node_modules\jail-monkey\android\build.gradle`

before:

[code]

after

[code]